@model ProductsCategoriesDto
@{
	ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_Alerts")

<div>

	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">

			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Welcome to EShop</h1>
			</div>
		</div>
	</header>

	<hr />

	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container px-4 px-lg-5">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav w-100 d-flex justify-content-center mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item">
						<a class="nav-link active" asp-action="Index">All</a>
					</li>
					@foreach (var item in Model.Categories)
					{
						<li class="nav-item">
							<a asp-controller="Home" asp-action="Index" asp-route-categoryId="@item.Id" class="nav-link">@item.Name</a>
						</li>
					}

				</ul>

			</div>
		</div>
	</nav>

	<!-- Section-->
	<section class="py-5">

		<div class="container px-4 px-lg-5 mt-5">

			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				@foreach (var product in Model.Products)
				{

					<div class="col mb-5">
						<div class="card h-100">
							<img height="250px" style="object-fit:contain" class="card-img-top" src="~/images/@product.ImageUrl" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">@product.Name</h5>
									<!-- Product price-->
									@product.Price $
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="d-flex justify-content-center gap-2">
									<a style="width:110px, padding:5px" class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="ProductDetails" asp-route-id="@product.Id">View options</a>
									<a style="width:110px, padding:5px" class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="AddToCart" asp-route-id="@product.Id">Add to cart</a>
								</div>
							</div>
						</div>
					</div>

				}
			</div>

			<div class="btn-group align-self-center" role="group" aria-label="Pagination">
				@for (int i = 1; i <= Model.Pagination.TotalPages; i++)
				{
					<a asp-controller="Home" asp-action="Index" asp-route-page="@i" asp-route-categoryId="@ViewBag.SelectedCategoryId"
					   class="btn @(i == Model.Pagination.CurrentPage ? "btn-primary" : "btn-secondary")">
						@i
					</a>
				}
			</div>

		</div>
	</section>

</div>

@section Scripts
{
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const urlParams = new URLSearchParams(window.location.search);
			if (urlParams.has('cartOpened')) {
				var myModal = new bootstrap.Modal(document.getElementById('cartModal'));
				myModal.show();
			}
		});
	</script>
}