@model List<Post>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>News</h1>
</div>

@if (TempData.ContainsKey("Added"))
{
    <div class="alert alert-success text-center" role="alert">
        <strong>Success! </strong>@TempData["Added"]
    </div>
}

@if (TempData.ContainsKey("Fail"))
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Fail!</strong>@TempData["Fail"]
    </div>
}

@if (TempData.ContainsKey("Deleted"))
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Deleted!</strong>@TempData["Deleted"]
    </div>
}


@if (@Model is not null)
{
    <div class="row">
        @foreach (var post in @Model)
        {
            <div class="col-md-4 my-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="300" style="object-fit:contain" src="@post.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Content</p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">Watch Full</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

